.main-contact{
    background-color: white;
    margin: 20px 15px 20px auto;
    display: flex;
    justify-content: space-around;
}
.leftcontact{
width: 45%;
padding: 10px;
width: min-content;
/* background-color: rgb(204, 109, 109); */
}
.rightcontact{
    width: 45%;
    padding: 10px;
    /* background-color: aquamarine; */
}
.rightcontact p{
  color: gray;
  overflow-wrap: break-word;
}
h2{
    margin: 20px 0px;
    display: inline-block;
    padding: 5px 0px;
    border-bottom: solid gray 2px;
}
 input{
    width: 100%;
    padding: 10px !important;
    border-radius: 0px !important;
    margin-top: 10px;
 }
 .btn-contact{
    width: 100%;
    padding: 10px;
    background-color:  #0078ff;
    color: white;
    border-radius: 50px;
    border: none;
    margin-bottom: 8px;
 }
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}


.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
